@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 27, 46;
  --background-rgb: 250, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

::selection {
  background-color: #e9d5ff;
  color: #1e1b2e;
}
